<mat-drawer-container class="container" autosize>
  <mat-toolbar>
    <button
      class="menu"
      mat-icon-button
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <img src="../../../assets/image/logo.png" alt="Logo" />
      <a mat-list-item routerLink="/"
        ><i class="material-icons">home</i>Home
      </a>
      <a mat-list-item routerLink="bibliotecarios"
        ><i class="material-icons">supervised_user_circle</i>Bibliotecários
      </a>
      <a mat-list-item routerLink="usuarios"
        ><i class="material-icons">group</i>Usuários
      </a>
      <a mat-list-item routerLink="/"
        ><i class="material-icons">menu_book</i>Livros
      </a>
      <a mat-list-item routerLink="/"
        ><i class="material-icons">category</i>Categorias
      </a>
      <a mat-list-item routerLink="/"
        ><i class="material-icons">book</i>Reservas
      </a>
      <a mat-list-item routerLink="/"
        ><i class="material-icons">logout</i>Logout
      </a>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
